// Layout: Scaffold
// ----------------------------------------

html,
body { height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

#azure {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0;
}

#app {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 1000;
}
