// Component: Button
// --------------------------------------------

// Mixins
// --------------------
@mixin button-states(
  $bg-color: transparent,
  $bg-color-hover: null,
  $bg-color-active: $bg-color-hover,
  $c-text: theme-color('text', 'base'),
  $c-text-hover: $c-text,
  $c-text-active: $c-text-hover,
  $border-color: transparent,
  $border-color-hover: null,
  $border-color-active: null,
  $important: null) {

  @include button($bg-color, $c-text, $border-color, $important);

  @if $bg-color-hover != 'no-hover' {
    &:hover {
      @include button-hover(
        $bg-color,
        $bg-color-hover,
        $c-text-hover,
        $border-color-hover,
        $important
      );
    }

    &:active {
      @include button-active(
        $bg-color,
        $bg-color-hover,
        $c-text-hover,
        $border-color-active,
        $important
      );
    }

    @media (hover: none) {
      &:hover,
      &:focus,
      &:active {
        @include button(
          $bg-color,
          $c-text,
          $border-color,
          $important
        );
      }
    }
  }
}

@mixin button($bg-color, $c-text, $border-color, $important) {
  color: $c-text $important;
  background-color: $bg-color $important;
  border: 1px solid $border-color $important;
}

@mixin button-hover(
  $bg-color,
  $bg-color-hover,
  $c-text-hover,
  $border-color-hover,
  $important) {

  @if $c-text-hover {
    color: $c-text-hover $important;
  }

  @if $bg-color-hover {
    background-color: $bg-color-hover $important;
  } @else {
    background-color: darken($bg-color, 6%) $important;
  }

  @if $border-color-hover {
    border-color: $border-color-hover $important;
  }
}

@mixin button-active(
  $bg-color,
  $bg-color-active,
  $c-text-active,
  $border-color-active,
  $important) {

  @if $c-text-active {
    color: $c-text-active $important;
  }

  @if $bg-color-active {
    background-color: darken($bg-color-active, 4%) $important;
  } @else {
    background-color: darken($bg-color, 10%) $important;
  }

  @if $border-color-active {
    border-color: $border-color-active $important;
  }
}

// Button base
@mixin button-base {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border-radius: $border-radius;
  transition: $transition;
  @include user-select();
}

@mixin button-sm {
  padding: 8px 14px;
}

// Button Types
@mixin button-primary {
  @include button-states(
    $bg-color: theme-color('primary', 'base'),
    $c-text: theme-color('white', 'base'),
    $border-color: theme-color('primary', 'base')
  );
}

@mixin button-secondary {
  @include button-states(
    $bg-color: theme-color('secondary', 'base'),
    $c-text: theme-color('white', 'base'),
    $border-color: theme-color('secondary', 'base')
  );
}

@mixin button-danger {
  @include button-states(
    $bg-color: theme-color('danger', 'base'),
    $c-text: theme-color('white', 'base'),
    $border-color: theme-color('danger', 'base')
  );
}

// Classes
// --------------------
.button {
  @include button-base;
}

.button-sm {
  @include button-sm;
}

.button-primary {
  @include button-primary;
}

.button-secondary {
  @include button-secondary;
}

.button-danger {
  @include button-danger;
}